<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-s6z2{text-align:center}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-s6z2">Year</th>
    <th class="tg-s6z2">Number of Hindus (in crores)<br></th>
    <th class="tg-s6z2">Number of Muslims (in crores)<br></th>
    <th class="tg-yw4l">Total population (in crores)</th>
  </tr>
  <tr>
    <td class="tg-s6z2">1951</td>
    <td class="tg-s6z2">30.4</td>
    <td class="tg-s6z2">3.5 </td>
    <td class="tg-s6z2">36.1</td>
  </tr>
  <tr>
    <td class="tg-s6z2">1961</td>
    <td class="tg-s6z2">36.6</td>
    <td class="tg-s6z2">4.7 </td>
    <td class="tg-s6z2">43.9</td>
  </tr>
  <tr>
    <td class="tg-s6z2">1971</td>
    <td class="tg-s6z2">45.3</td>
    <td class="tg-s6z2">6.1 </td>
    <td class="tg-s6z2">54.8</td>
  </tr>
  <tr>
    <td class="tg-s6z2">1981</td>
    <td class="tg-s6z2">56.2</td>
    <td class="tg-s6z2">8.0 </td>
    <td class="tg-s6z2">68.3</td>
  </tr>
  <tr>
    <td class="tg-s6z2">1991</td>
    <td class="tg-s6z2">69.0</td>
    <td class="tg-s6z2">10.7</td>
    <td class="tg-s6z2">84.6</td>
  </tr>
  <tr>
    <td class="tg-s6z2">2001</td>
    <td class="tg-s6z2">82.7 </td>
    <td class="tg-s6z2">13.8 </td>
    <td class="tg-s6z2">102.8</td>
  </tr>
  <tr>
    <td class="tg-s6z2">2011</td>
    <td class="tg-s6z2">96.6</td>
    <td class="tg-s6z2">17.2</td>
    <td class="tg-s6z2">121 </td>
  </tr>
</table>
