<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-uqo3{background-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-uqo3"></th>
    <th class="tg-baqh">2004-05</th>
    <th class="tg-baqh">2009-10</th>
    <th class="tg-baqh">2011-12<br></th>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh" colspan="3">Rural<br></td>
  </tr>
  <tr>
    <td class="tg-baqh">Hindus<br></td>
    <td class="tg-baqh">42.1</td>
    <td class="tg-baqh">33.5</td>
    <td class="tg-baqh">25.6</td>
  </tr>
  <tr>
    <td class="tg-baqh">Muslims</td>
    <td class="tg-baqh">44.5</td>
    <td class="tg-baqh">36.2</td>
    <td class="tg-baqh">26.9</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh" colspan="3">Urban<br></td>
  </tr>
  <tr>
    <td class="tg-baqh">Hindus</td>
    <td class="tg-baqh">23.1</td>
    <td class="tg-baqh">18.7</td>
    <td class="tg-baqh">12.1</td>
  </tr>
  <tr>
    <td class="tg-baqh">Muslims</td>
    <td class="tg-baqh">41.8</td>
    <td class="tg-baqh">33.9</td>
    <td class="tg-baqh">22.7</td>
  </tr>
  <tr>
    <td class="tg-baqh"></td>
    <td class="tg-baqh" colspan="3">Rural + Urban<br></td>
  </tr>
  <tr>
    <td class="tg-baqh">Hindus</td>
    <td class="tg-baqh">37.5</td>
    <td class="tg-baqh">29.7</td>
    <td class="tg-baqh">21.9</td>
  </tr>
  <tr>
    <td class="tg-baqh">Muslims</td>
    <td class="tg-baqh">43.6</td>
    <td class="tg-baqh">35.4</td>
    <td class="tg-baqh">25.4</td>
  </tr>
</table>
